.page-cover {
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.page-cover--inactive {
    animation-name: page-cover-unveal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes page-cover-unveal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}