/* TODO organize this mess of a stylesheet */

@import url('navigation.css');
@import url('sections-projects.css');
@import url('media-queries.css');
@import url('title.css');
@import url('scrollbar.css');
@import url('page-cover.css');

body {
    background: url('../res/background-pattern.svg');
    background-size: 16px;
    margin: 0;
}

* {
    color: white;
    /* font-family: "Noto Sans", sans-serif; */
    font-family: monospace;
    scroll-behavior: smooth;
}

.language-carousel-label {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: center;
}

.language-carousel img {
    margin-right: 15px;
}

.language-carousel .flickity-page-dots .dot {
    background: white;
}

li.dot.is-selected {
    background: #eee;
}

.flickity-button {
    display: none;
}

.airplane {
    position: fixed;
    left: -513px;
    bottom: 0;
}

.bio-history {
    position: relative;
    min-height: 100vh;
}

.bio-history div {
    position: absolute;
    top: 25px;
}

#towers-of-hanoi-iframe {
    width: 90%;
    margin-left: 10%;
    margin-right: 0;
    min-height: 600px;
}

.lakkienet-logo {
    user-select: none;
}

.animated-website-logo {
    stroke-dasharray: 32px;
    animation: logo-stroke-offset 15s linear 0s infinite;
}

@keyframes logo-stroke-offset {
    0% {
        stroke-dashoffset: 0px;
    }

    100% {
        stroke-dashoffset: calc(32px * 6);
    }
}

#active-tech-text {
    text-align: center;
}